.first {
    text-align: center;
}

.second {
    margin-left: 800px;
}

.rectangle {
    margin-right: 231px;
    width: 320px;
    height: 212px;
    background: white;
    border: 3px solid black;
    /* margin-left: 772px;
    margin-top: -5px; */
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 210px;
}
.photo {
}
hr {
    border: none;
    border-bottom: 1px dashed black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.nameDetails {
    padding-left: 236px;
}
