.first {
    text-align: center;
}

.second {
    margin-left: 800px;
}

.rectangle {
    margin-right: 258px;
    width: 299px;
    height: 165px;
    background: white;
    border: 3px solid black;
    /* margin-left: 772px;
    margin-top: -5px; */
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 210px;
}
.photo {
}
hr{
    border: 1px solid black;
}

.nameDetails {
    padding-left: 236px;
}

